body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f2f2f2;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navegacion{
    padding-right: 15px;
}

a {
    text-decoration: none;
    color: black;
}

#usuario {
    float: right;
    order: 2;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
}

section {
    margin: 20px;
    padding: 20px;
}

footer {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
}


h1, h2 {
    color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

h3 {
    color: blue;
    font-weight: bold;
}

#ofertas {
    background-color:aquamarine;
    background-image: url(../img/ofertas.gif);
}

#ofertas div {
    text-align: center;
    margin: 10px;
}

#ofertas span {
    display: block;
    font-size: 20px;
    font-weight: bold;
}

.pcs {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#productos {
    background-color:cyan;
}

#productos img {
    width: 200px;
    height: 200px;
}

#productos h3 {
    margin-top: 10px;
}

#servicios {
    background-color: aquamarine;
}

.reparacion {
    display: flex;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.armado {
    display: flex;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.reparacion img {
    margin: 2px;
}

.armado img {
    margin: 5px;
}

footer div {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer span {
    display: block;
}

footer img {
    margin: 5px;
    width: 30px;
    height: 30px;
}

footer iframe {
    margin-top: 10px;
    border: none;
    width: 50%;
    height: 100px;
}